# Artefatos Python
__pycache__/
*.pyc

# Ambientes virtuais
.venv/
venv/
env/

# Configuracoes locais e credenciais
.env
.aws/

# Dados gerados
data/
*.parquet

# Ajustes de IDE (mantem o .vscodeignore que ja existe)
.vscode/

# Google Cloud Credentials
*.json
